<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/main.css">
    <title>Random Foodie</title>
</head>
<body>
    <header>
        <h1 class="title"><a href="/" style="text-decoration:none; color: black;">Random Foodie</a></h1>
        <nav>
            <ul>
                <li><a href="/random-photo">Photo</a></li>
                <li><a href="/random-recipe">Recipes</a></li>
                <li><a href="#">About</a></li>
            </ul>
        </nav>
    </header>
<div class="content">
    