<%- include("partials/header.ejs") %>

<h3>Hi! I am Yap Weng Kiad from Malaysia, who created this simple website</h3>
<br />
<h5>Contact</h5>
<p>Contact me: <a href="mailto:wengkiadyap@gmail.com">wengkiadyap@gmail.com</a></p>
<p>Text me instanly through <a href="https://wa.me/601156624133">Whatsapp</a></p>
<br />
<p>
  This website was powered by API : <a href="https://www.themealdb.com/api.php" target="_blank">https://www.themealdb.com/api.php</a>
</p>
<%- include("partials/footer.ejs") %>

