<%- include("partials/header.ejs") %>

<% if (locals.category) { %>
    <% for (let x of category){%>


      <form action="/submit-category" method="POST">
        <button type="submit" class="category-button"><%=x.strCategory%></button>
        <input type="hidden" name="categoryName" id="categoryName" value="<%=x.strCategory%>" >
      </form>
      <br />

  <% };} else {%>
    <p>No record found!</p>
    <% } %>

<%- include("partials/footer.ejs") %>


