<%- include("partials/header.ejs") %>

<div>
    <h2>Welcome to Simple Recipe</h2><br />
    <p>Click on <a href="/random-recipe">Random Recipes</a> for random food recipe</p>
    <p>or</p>
    <p>Click on <a href="/category">Recipes Category</a> to browse for recipe by category</p>
    <p>or</p>
    <p>Click on <a href="/search">Search</a> to start search meal recipe by name</p>

</div>

<div class="photo-video">
    <img src="/image/background.jpeg" alt="background image" class="food-image">
</div>
<%- include("partials/footer.ejs") %>