<%- include("partials/header.ejs") %>

<div>
    <p2>Welcome to Random Foodie</p2><br />
    <p3>Click on <a href="/random-photo">Photo</a> for random food photo</p3><br />
    <p3>or</p3><br />
    <p3>Click on <a href="/random-recipe">Recipes</a> for random food recipe</p3>
</div>

<div class="photo-video">
    <img src="/image/background.jpeg" alt="background image" class="food-image">
</div>
<%- include("partials/footer.ejs") %>