<%- include("partials/header.ejs") %>

<h1>404 File not found!</h1>
<p>Sorry, the meal recipe you looking for does not exist, please try to search for another recipe</p>
<br />
<a href="/search">Click here to search again</a>
<br />
<img src="/image/chef404.jpeg" alt="error 404" class="error-image">

<%- include("partials/footer.ejs") %>