<%- include("partials/header.ejs") %>


    <p>OMG! you found my hidden page!</p>
    <br />
    <div class="photo-video">
        <img src="<%=foodPicture%>" alt="random food image" class="food-image">
    </div>

<%- include("partials/footer.ejs") %>