<%- include("partials/header.ejs") %>


    <p>OMG! you found my hidden page!</p>
    <br />
    <p>I hidden this page because the API i used for this page connection is unstable, sometime it seem forever loading...</p>
    <div class="photo-video">
        <img src="<%=foodPicture%>" alt="random food image" class="food-image">
    </div>

<%- include("partials/footer.ejs") %>