
body, h1, h2, ul, li {
    margin: 0;
    padding: 0;
}

body {
    background-color: #6bdbae;
    background-image: url("/image/wild-flowers.png");
    text-align: center;
}

table {
    margin-left: auto;
    margin-right: auto;
}

.title{
    font-size: 3rem;
}


header {
    background-color: #0fc280;
    padding: 20px;
    text-align: center;
}

footer {
    background-color: #0fc280;
    padding: 20px;
    text-align: center;
    margin-top: 200px;
}

h1 {
    font-size: 24px;
    color: #333;
}
nav ul {
    list-style: none;
}
nav li {
    display: inline-block;
    margin-right: 20px;
}
nav a {
    text-decoration: none;
    color: aliceblue;
}

.content {
    width: 80%;
    padding-left: 10%;
    padding-top: 2%;
    padding-bottom: 20px;
}


h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

/* @media screen and (max-width: 768px) {
} */

.food-image{
    width:100%;
    max-width:640px;
}

.photo-video {
    display: flex;
    justify-content: center;
}

table tr th, table tr td {
    width: 200px;
}

#instruction {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}