body {
    background-color: #6bdbae;
    background-image: url("/image/wild-flowers.png");
    text-align: center;
    font-family: "Kalam", cursive;
    font-weight: 500;
    font-style: normal;
    font-size: large;
}

table {
    margin-left: auto;
    margin-right: auto;
}

.title{
    font-size: 3rem;
}


header {
    background-color: #0fc280;
    padding: 20px;
    text-align: center;
}

footer {
    background-color: #0fc280;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style: none;
}
nav li {
    display: inline-block;
    margin-right: 20px;
}
nav a {
    text-decoration: none;
    color: aliceblue;
}

.content {
    width: 80%;
    margin-left: 10%;
    padding-top: 2%;
    min-height: 100vh;
    margin-bottom: 20px;
}


/* @media screen and (max-width: 768px) {
} */

.food-image{
    width:100%;
    max-width:640px;
}

.photo-video {
    display: flex;
    justify-content: center;
}

table tr th, table tr td {
    width: 200px;
}

#instruction {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.category-button{
    font-size: 1.5rem;
    width: 180px;
}

.meal-button{
    width: 200px;
    font-size: 0.8rem;
    margin: 10px;
}

.meal-select{
    display: inline-block;
    width: 320px;
    height: 350px;
    background-color: #58A399;
    vertical-align: top;
    margin: 10px;
    padding-top: 10px;
}

.meal-select-photo{
    width: 240px;
    height: 240px;
    padding-top: 10px;
}

.error-image{
    width: 650px;
    padding-top: 10px;
}

.category-select {
    display: inline-block; 
    margin: 20px;
}